.dropdown {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    display: inline-block;
    z-index: 10;
}

.dropdown > * {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#dropdown-content {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: none;
    position: absolute;
    bottom: 100%;
    z-index: 10;
}

.row {
    display: flex;
    flex-direction: row-reverse;
    z-index: 10;
}

.column {
    flex: 1;
    background-color: #f9f9f9;
    padding: 10px;
    z-index: 10;
}

.column:hover {
    background-color: #e2e2e2;
    z-index: 10;
}

.deroulant {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.sous {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: none;
    position: absolute;
    min-width: 150px;
    bottom: 40px;
    z-index: 1;
    box-shadow: 0px 1px 2px #ccc;
    background-color: white;
}

nav > ul button:focus .sous {
    display: block;
    text-align: justify;
    z-index: 10;
}

.left, .right {
    display: inline-block;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}