#poem {
    background-color: #f3b700;
}

#menu-container {
    background-color: #fde08a;
}

.windowTitle {
    color: #000000;
}

#minimize {
    color: #000000;
}

#maximize {
    color: #000000;
}

#quit {
    color: #000000;
}

#title {
    color: #000000;
}